<section id="hero" class="container mb-4">
  <h4 class="text-center">Пространство перерождения</h4>
  <div class="card mt-3 mx-auto shadow" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-6 my-auto">
        <div class="card-body">
          <h5 class="card-title">Нет</h5>
          <p class="card-text">Релиз сингла Веры толченниковой и Павла Шлепнёва</p>
          <p class="card-text"><small class="text-muted">29 октября 2022 г.</small></p>
          <a href="#" class="btn btn-primary">Слушать</a>
        </div>
      </div>
      <div class="col-md-6">
        <img src="/assets/img/no_cover.jpg" class="img-fluid rounded-end" alt="Нет (сингл)">
      </div>
    </div>
  </div>
</section>
